body { 
	margin: 0; 
	touch-action: none;
}

canvas { 
	width: 100%; 
	height: 100% ; 
	touch-action: none;
}

nav {
	position: fixed;
	top: 0;
}

button {
	margin: 5px
}

.active button {
	background-color: green;
}

footer {
	position: fixed;
	bottom: 0;
}

footer p {
	margin:0;
}
